:root {
    --navbg: rgb(255, 255, 255);
    --navTit: #1a73e8;
    --secbg: #f5f1f1;
    --fontcolor: #5f6368;
    --bordercolor: #dadce0;
    --warn: #fa5a4e;
}

@media screen and (max-width:800px) {
    body {
        scroll-behavior: smooth;
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        color: var(--fontcolor);
    }
    #logo1img {
        display: none;
    }
    h2 {
        color: var(--navTit);
    }
    nav {
        background-color: var(--navbg);
        color: var(--fontcolor);
        opacity: 0.9;
        position: sticky;
        padding-top: 10px;
        padding-bottom: 0px;
        top: 0px;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    }
    nav ul {
        background-color: var(--navbg);
        color: var(--fontcolor);
        margin-top: 0px;
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding-right: 30px;
    }
    nav ul li a {
        text-decoration: none;
        color: var(--fontcolor);
    }
    #titleImg img {
        width: 50vw;
        display: block;
        justify-content: center;
        margin: 20px auto;
    }
    #navTitle img {
        width: 30px;
        padding-top: 5px;
        padding-bottom: 4px;
    }
    table {
        padding: 20px 0px;
        border-radius: 10px;
        /* padding: 5px 20px; */
        margin: 10% 5%;
        background-color: white;
        border: 1px solid var(--bordercolor);
        box-shadow: 0px 0px 10px var(--bordercolor);
        color: var(--fontcolor);
        display: block; 
    }
    table:hover{
        transform: scale(1.008);
        transition-timing-function:ease;
        transition-duration: 0.18s;
        box-shadow: 0px 0px 8px rgb(182, 180, 180);

    }

    th,td{
        width: 100em;
        text-align: center;
    }
    th{
        padding-bottom: 10px;
    }
   
 
    #section2 {
        border-radius: 10px;
        padding: 5px 20px;
        margin: 5% 5%;
        background-color: white;
        border: 1px solid var(--bordercolor);
        box-shadow: 0px 0px 10px var(--bordercolor);
        color: var(--fontcolor);
        display: block;
        justify-content: center;
    }
    #section2:hover{
        transform: scale(1.008);
        transition-timing-function:ease;
        transition-duration: 0.18s;
        box-shadow: 0px 0px 8px rgb(182, 180, 180);

    }
    #section2 ul {
        list-style: circle;
        padding-left: 20px;
    }
    #section2 h2 {
        text-align: center;
    }
    #section2 #warn {
        color: var(--warn);
    }
    footer p{
        display: block;
        text-align: center;
        color: var(--fontcolor);
        margin-bottom: 0px;
    }

}

@media screen and (min-width:800px) {
    body {
        scroll-behavior: smooth;
        margin: 0px;
        padding: 0px;
        color: var(--fontcolor);
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        color: var(--fontcolor);
    }
    #logo2img {
        display: none;
    }
    h2 {
        color: var(--navTit);
    }
    nav {
        background-color: var(--navbg);
        color: var(--fontcolor);
        opacity: 0.9;
        position: sticky;
        padding-top: 10px;
        padding-bottom: 0px;
        padding-left: 10vw;
        padding-right: 10vw;
        top: 0px;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    }
    nav ul {
        margin-top: 0px;
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
    nav ul li a {
        text-decoration: none;
        color: var(--fontcolor);
    }
    nav ul li a:hover {
        color: var(--navTit);
    }
    #titleImg img {
        display: none;
    }
    #navTitle img {
        width: 150px;
    }
    table {
        border-radius: 10px;
        padding-bottom: 10vh;
        margin-top: 15vh;
        align-items: center;
        margin-left: 10vw;
        float: left;   
        width: 30vw;     
    }
    th {
        background-color: var(--navTit);
      
        color: white;
       
    }
    td {
        color: var(--fontcolor);
        box-shadow: 0px 0px 10px var(--bordercolor);
    }
    th, td {
        /* margin: 100px 100px; */
        padding: 10px 30px;
        text-align: center;
        /* padding: 0px 20px; */
        justify-content: center;
    }
    #th1{
        border-top-left-radius: 8px;
    }
    #th2{
        border-top-right-radius: 8px;
    }
    th:hover,td:hover {
        transform: scale(1.008);
        transition-timing-function: ease;
        transition-duration: 0.18s;
        box-shadow: 0px 0px 8px rgb(182, 180, 180);
    }

    #section2 {
        width: 40%;
        float: right;
        border-radius: 10px;
        margin-top: 8vh;
        margin-right: 12vw;
        margin-bottom: 20px;
        padding: 5px 20px;
        background-color: white;
        border: 1px solid var(--bordercolor);
        box-shadow: 0px 0px 10px var(--bordercolor);
        color: var(--fontcolor);
        display: block;
        justify-content: center;
    }
    #section2:hover {
        transform: scale(1.008);
        transition-timing-function: ease;
        transition-duration: 0.18s;
        box-shadow: 0px 0px 8px rgb(182, 180, 180);
    }
    #section2 ul {
        list-style: circle;
    }
    #section2 h2 {
        text-align: center;
    }
    #section2 #warn {
        color: var(--warn);
    }
    #error {
        color: var(--warn);
        height: 20px;
    }
    footer p {
        clear: both;
        width: 100vw;
        padding-top: 30px;
        text-align: center;
        margin-bottom: 0px;
        color: var(--fontcolor);
    }
}